{# This file is part of BannerManagement4

Copyright(c) U-Mebius Inc. All Rights Reserved.

https://umebius.com/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'banner'] %}

{% block title %}{{ 'admin.banner.banner_list.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.banner.banner_list.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
<script>
    $(function() {
        // 初期表示時のsort noを保持.
        var oldSortNos = [];
        $('.sortable-item').each(function() {
            oldSortNos.push(this.dataset.sortNo);
        });
        oldSortNos.sort(function(a, b) {
            return a - b;
        }).reverse();
        // 並び替え後にsort noを更新
        var updateSortNo = function() {
            var newSortNos = {};
            var i = 0;
            $('.sortable-item').each(function() {
                newSortNos[this.dataset.id] = oldSortNos[i];
                i++;
            });
            $.ajax({
                url: '{{ url('admin_content_banner_sort_no_move') }}',
                type: 'POST',
                data: newSortNos
            })
            .always(function() {
                $(".modal-backdrop").remove();
            });
        };
        // 最初と最後の↑↓を再描画
        var redrawDisableAllows = function() {
            var items = $('.sortable-item');
            items.find('a').removeClass('disabled');
            items.first().find('a.action-up').addClass('disabled');
            items.last().find('a.action-down').addClass('disabled');
        };
        var updateDisplayRank = function () {
            var cnt = 0;
            var items = $('.sortable-item');
            items.each(function () {
               $(this).find('[id^=banner_list_box__rank--]').text(++cnt)
            });
        };
        // オーバレイ後, 表示順の更新を行う
        var moveSortNo = function() {
            $('body').append($('<div class="modal-backdrop show"></div>'));
            updateSortNo();
            updateDisplayRank();
            redrawDisableAllows();
        };
        // Drag and Drop
        $('.sortable-container').sortable({
            items: '> .sortable-item',
            cursor: 'move',
            update: function(e, ui) {
                moveSortNo();
            }
        });
        // Up
        $('.sortable-item').on('click', 'a.action-up', function(e) {
            e.preventDefault();
            var current = $(this).parents("li");
            if (current.prev().hasClass('sortable-item')) {
                current.prev().before(current);
                moveSortNo();
            }
            return false;
        });
        // Down
        $('.sortable-item').on('click', 'a.action-down', function(e) {
            e.preventDefault();
            var current = $(this).parents("li");
            if (current.next().hasClass('sortable-item')) {
                current.next().after(current);
                moveSortNo();
            }
            return false;
        });

        // 削除モーダルのhrefとmessageの変更
        $('#DeleteModal').on('shown.bs.modal', function(event) {
            var target = $(event.relatedTarget);
            // hrefの変更
            $(this).find('[data-method="delete"]').attr('href', target.data('url'));

            // messageの変更
            $(this).find('p.modal-message').text(target.data('message'));
        });
    });
</script>
<script>
$(function() {
    $('#form_BannerField').change(function() {
        location.href = "{{ url('admin_content_banner') }}?field=" + $(this).val();
    });
});
</script>
{% endblock javascript %}

{% block main %}
<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            <div class="card rounded border-0 mb-4">
                <div class="card-body p-0">
                    <div class="card rounded border-0">
                        <div class="card-header">
                            {{ form_widget(form.BannerField) }}
                        </div>
                        <div id="ex-csv_product-upload" class="card-body">
                            <div>
                                <p>「キービジュアル(SP) 」へ登録を行うとモバイルからアクセスした場合に表示されます<br>登録がなかった場合はモバイルにも「キービジュアル」が表示されます。</p>
                            </div>

                            <div>
                                <span class="font-weight-bold ml-2">{{ 'admin.common.search_result'|trans({'%count%':BannerList|length}) }}</span>
                            </div>

                            <table class="table table-striped mt-2">
                            <thead>
                            <tr id="banner_list_box__list_header">
                                <th id="banner_list_box__header_rank">順位</th>
                                <th id="banner_list_box__header_visible">表示/非表示</th>
                                <th id="banner_list_box__header_date">リンク</th>
                                <th id="banner_list_box__header_title">ALT</th>
                                <th>画像</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="sortable-container">
                            {% for Banner in BannerList %}
                                <tr id="banner_list_box__item--{{ Banner.id }}"
                                    class="sortable-item" data-id="{{ Banner.id }}"
                                    data-sort-no="{{ Banner.sortNo }}">
                                    <td id="banner_list_box__rank--{{ Banner.id }}">{{ loop.index }}</td>
                                    <td id="banner_list_box__visible--{{ Banner.id }}">
                                        {% if Banner.visible %}{{ 'admin.common.show'|trans }}{% else %}{{ 'admin.common.hide'|trans }}{% endif %}</td>
                                    <td id="banner_list_box__date--{{ Banner.id }}">
                                        {{ Banner.url }}
                                        {% if Banner.link_method %}
                                            <br>別のタブで開く
                                        {% endif %}
                                    </td>
                                    <td id="banner_list_box__title--{{ Banner.id }}">{{ Banner.alt }}</td>
                                    <td id="banner_list_box__title--{{ Banner.id }}">
                                        {% if Banner.file_name %}
                                            <img src="{{ asset('banner/' ~ Banner.file_name, 'save_image') }}" style="max-width: 200px;max-height: 200px;">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-ec-actionIcon action-up mr-3 {% if loop.first %} disabled{% endif %}"
                                           href="{{ url('admin_content_banner_up', {id: Banner.id}) }}"
                                           data-method="put" {{ csrf_token_for_anchor() }}
                                           data-confirm="false"
                                           data-toggle="tooltip" data-placement="top" title="{{ 'admin.common.up'|trans }}">
                                            <i class="fa fa-arrow-up fa-lg text-secondary"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-ec-actionIcon action-down mr-3 {% if loop.last %} disabled{% endif %}"
                                           data-method="put" {{ csrf_token_for_anchor() }}
                                           data-confirm="false"
                                           href="{{ url('admin_content_banner_down', {id: Banner.id}) }}"
                                           data-toggle="tooltip" data-placement="top" title="{{ 'admin.common.down'|trans }}">
                                            <i class="fa fa-arrow-down fa-lg text-secondary"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-ec-actionIcon mr-3 "
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           href="{{ url('admin_content_banner_edit', {id: Banner.id}) }}"
                                           >
                                            <i class="fa fa-pencil fa-lg text-secondary"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-ec-actionIcon mr-3"
                                           data-toggle="modal" data-target="#DeleteModal"
                                           data-url="{{ url('admin_content_banner_delete', {id: Banner.id}) }}"
                                           data-message="このバナーを削除してもよろしいですか？">
                                            <i class="fa fa-close fa-lg text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a href="{{ url('admin_content_banner_new') }}?field={{ BannerField.id }}"
                               class="btn btn-primary btn-lg">新規登録へ</a>
                        </div>
                        </div>
                        <!-- 削除モーダル -->
                        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                             aria-labelledby="DeleteModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title font-weight-bold">
                                            {{ 'admin.common.delete_modal__title'|trans }}
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <p class="text-left modal-message"><!-- jsでメッセージを挿入 --></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                            {{ 'admin.common.cancel'|trans }}
                                        </button>
                                        <a class="btn btn-ec-delete" href="#" {{ csrf_token_for_anchor() }}
                                           data-method="delete" data-confirm="false">
                                            {{ 'admin.common.delete'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
